html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    max-width: 100%;
    /* border:1px solid grey; */
     /*makes things easier to see*/
}

/* General styles*/
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    line-height: 1.5;
    color:#4f4f4f;
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-family: 'Chelsea Market', cursive;
    font-size:5rem;
}

a{
    font-family: 'Roboto Mono', monospace;
    text-decoration:none;
}

span{
    font-weight:bold;
}
/* section{
    padding:4 0;
} */

/*header section styles */

nav{
    padding:2% 0;
}
nav a{
    display:inline-block;
    padding:1% 0; /* top bottom    left right */
    width:10%;
    border-radius:10px;
    text-align: center;
    color:#fff;
}

.orange{
    background-color: #FF764E;
    margin-left: 10%;
}

.blue{
    background-color: #5ED3EB;
    margin: 0 24%;
}

.yellow{
    background-color: #FFCD69;
    margin-right: 10%;
}

/*Title Section Styles*/

.titles{
    text-align: center;
    position:relative;
}

.left, .right{
    display:inline-block;
}
.left{
    width:30%;
    margin-left:5%;
}
.left img{
    border-radius:50%;
}
.right{
    width:55%;
    margin-left: 5%;
    
}

.right div{
    position:absolute;
    top:10%;
    margin-right: 5%;
    
   
    
}

.right h1{
    font-size: 9rem;

}


.right h2{
    width: 100%;
    font-size: 3rem;
    margin-top: 10%
}
.right p{
    width: 60%;
    margin: 0 auto;
    font-size: 2.5rem;
    margin-top: 10%;
}




/* Main Section Styles */

.main div{
    margin: 0 5%;
    background-color: #DDB9A3;
    padding: 1.5%;
    font-size: 2.5rem;

    text-align: center;
    color: white;
}

.small-images{
    text-align:center;
    margin: 2% 20%;
}

.campfire p{
    width: 70%;
    margin: 0 auto;
    font-size: 2.5rem;
}

.campfire img{
    width: 40%;
}

.camper p{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10%;
    font-size: 2.5rem;

}

.camper img{
    width: 40%;
    margin: 0;
}

/* footer */

.bottom-image img{
    width: 100%;
    object-fit: fill;
   
}

footer{
   
    background-color:#F9E7DC;
    
}

